.container {
  margin-top: 8%;
  text-align: center;
}

.subtitle,
.windows-theme-subtitle {
  color: var(--primary);
  font-family: 'Rock 3D', monospace;
  font-weight: 600;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.subtitle {
  font-size: 10vw;
}

.windows-theme-subtitle {
  font-size: 7vw;
}

.description {
  font-size: 1.5vw;
  z-index: 1;
  position: relative;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

.logo,
.windows-theme-logo {
  height: auto;
  opacity: var(--home-img-op);
  position: absolute;
}

.logo {
  width: 55%;
  left: 22%;
  top: 10%;
}

.windows-theme-logo {
  width: 45%;
  left: 27%;
  top: 15%;
}

@media screen and (max-width: 1500px) {
  .subtitle,
  .windows-theme-subtitle {
    font-size: 9vw;
  }

  .description {
    font-size: 2vw;
  }

  .logo {
    width: 55%;
    left: 23%;
  }

  .windows-theme-logo {
    width: 50%;
    left: 24%;
  }
}

@media screen and (max-width: 1000px) {
  .subtitle,
  .windows-theme-subtitle {
    font-size: 11vw;
  }

  .description {
    font-size: 3vw;
  }

  .logo {
    width: 75%;
    left: 13%;
  }

  .windows-theme-logo {
    width: 65%;
    left: 17%;
  }
}

@media screen and (max-width: 600px) {
  .subtitle,
  .windows-theme-subtitle {
    font-size: 13vw;
  }

  .description {
    font-size: 4vw;
  }

  .windows-theme-logo {
    width: 75%;
    left: 12%;
  }
}
