.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
}

.title {
  width: 20%;
}

.description {
  width: 80%;
}

.icon {
  font-size: 1.1em;
  margin-left: 0.5%;
}

@media screen and (max-width: 900px) {
  .title {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
  }
}
