.chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.chip {
  color: var(--font-color-opp);
  background-color: var(--font-color);
  border: none;
  margin-right: 1%;
  margin-bottom: 1%;
}
