.container {
  margin-top: 10%;
  text-align: center;
}

.logo {
  width: 75%;
  height: auto;
  margin-bottom: 3%;
  opacity: var(--intro-img-op);
}

@media screen and (max-width: 900px) {
  .logo {
    width: 100%;
  }
}
