.container {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 57%;
  padding-left: 2%;
  background-color: #000;
  color: #fff;
}

.title {
  /* color: #c9c30c; */
  color: var(--primary);
  font-size: 8.5vw;
  font-weight: 600;
}

.description-container {
  display: inline-block;
}

.description {
  overflow: hidden;
  border-right: 0.15em solid var(--secondary);
  white-space: nowrap;
  animation: typing 2.5s steps(50, end) forwards, blink 0.8s infinite;
  font-size: 1.5vw;
  font-weight: 300;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 77%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--secondary);
  }
}

.right {
  width: 43%;
  height: auto;
  background-color: var(--primary);
}

.photo {
  width: 75%;
  height: auto;
}
