.app-bar {
  background-color: var(--background-color);
}

.tabs {
  border: none;
}

.tab {
  font-family: monospace;
  color: var(--font-color);
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  align-items: start;
}

.tab:hover {
  color: var(--secondary);
}
