.app-bar {
  background-color: var(--background-color);
}

.tab {
  color: var(--font-color);
  text-transform: lowercase;
  letter-spacing: 0.1rem;
}

.tab:hover {
  color: var(--font-color-opp);
  background-color: var(--secondary);
}
