.text {
  z-index: 1;
  position: relative;
}

.image {
  width: 28rem;
  height: auto;
  opacity: var(--about-img-op);
  position: absolute;
  right: 60%;
  top: 20%;
  border-radius: 5%;
}

@media screen and (max-width: 1200px) {
  .image {
    display: none;
  }
}
