.text {
  z-index: 1;
  position: relative;
}

.image {
  width: 30vw;
  height: auto;
  opacity: var(--about-img-op);
  position: absolute;
  right: 15%;
  top: 40%;
  border-radius: 5%;
}

@media screen and (max-width: 900px) {
  .image {
    width: 15rem;
    height: auto;
  }
}
