.project-container {
  display: flex;
  flex-direction: column;
  margin: 1% 0 0 0;
}

.project-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin: 0 0 1% 0;
  font-weight: 600;
}

.icon {
  font-size: 1em;
  margin: 0 0 0 0.5%;
}
