.container {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 57%;
  padding-left: 2%;
  color: #fff;
}

.title {
  /* color: #c9c30c; */
  color: var(--primary);
  font-size: 8.5vw;
  font-weight: 600;
}

.title-animated {
  /* color: #c9c30c; */
  color: var(--primary);
  font-size: 8.5vw;
  font-weight: 600;
  overflow: hidden;
  border-right: 0.15em solid var(--secondary);
  white-space: nowrap;
  animation: blink 0.8s infinite;
  width: 100%;
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--secondary);
  }
}

.description-container {
  display: inline-block;
}

.right {
  width: 43%;
  height: auto;
  background-color: var(--primary);
}

.photo {
  width: 75%;
  height: auto;
}
