.container {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 57%;
  padding-left: 2%;
  color: #fff;
}

.description-container {
  display: inline-block;
}

.title {
  color: var(--primary);
  font-size: 7vw;
  font-weight: 600;
  width: 0;
  padding-left: 2%;
}

.right {
  width: 43%;
  height: auto;
  background-color: var(--primary);
}
