.text {
  z-index: 100;
  position: relative;
}

.image {
  width: 30vw;
  height: auto;
  opacity: 0.4;
  position: absolute;
  right: 10%;
  top: 40%;
}

@media screen and (max-width: 900px) {
  .image {
    width: 15em;
    height: auto;
    position: absolute;
  }
}
