.page-content {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.nav-container {
  width: 10%;
}

.children-container {
  width: 75%;
  padding-left: 3%;
}

@media screen and (max-width: 1200px) {
  .nav-container {
    width: 6rem;
  }
}
