.nav-container {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.children-container {
  padding-top: 5%;
}

.logo {
  width: 10rem;
  height: auto;
  left: 1rem;
  bottom: 1rem;
  z-index: 3;
  position: fixed;
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 2.5rem;
    left: 0.5rem;
    bottom: 0.25rem;
  }
}
