/* .nav {
  display: flex;
  flex-direction: row; 
  bottom: 0;
  position: fixed;
}

.switch {
  justify-content: end;
} */

.app-bar {
  background-color: var(--background-color);
}

.tab {
  color: var(--font-color) !important;
}

.tab:hover {
  color: var(--font-color-opp) !important;
  background-color: var(--secondary);
}
