/* .nav {
  display: flex;
  flex-direction: row; 
  bottom: 0;
  position: fixed;
}

.switch {
  justify-content: end;
}

.tabs {
  position: fixed;
  bottom: 0;
} */

.tab {
  color: var(--font-color) !important;
}

.tab:hover {
  background-color: var(--secondary);
}
