.app-bar {
  background-color: var(--background-color) !important;
}

.tab {
  color: var(--font-color) !important;
}

.tab:hover {
  color: var(--font-color-opp) !important;
  background-color: var(--secondary);
}
