.container {
  margin-top: 8%;
  text-align: center;
}

.subtitle {
  color: var(--primary);
  font-family: 'Rock 3D', monospace;
  font-size: 10vw;
  font-weight: 600;
  z-index: 1;
  position: relative;
}

.description {
  font-size: 1.5vw;
  z-index: 1;
  position: relative;
}

.logo {
  width: 55%;
  height: auto;
  opacity: var(--home-img-op);
  position: absolute;
  left: 22%;
  top: 10%;
}

@media screen and (max-width: 900px) {
  .subtitle {
    font-size: 18vw;
  }

  .description {
    font-size: 3vw;
  }

  .logo {
    width: 75%;
    left: 12%;
  }
}
