.window {
  background: #b9b9b9;
  z-index: 2;
  overflow: hidden;
  position: absolute;
  width: 90%;
  margin-top: 0;
  height: 89%;
  top: 2%;
  left: 5%;
  display: none;
}

.content {
  height: 86%;
  background-color: var(--background-color);
  overflow: scroll;
}
