.window {
  background: var(--windows-gray);
  z-index: 2;
  overflow: hidden;
  position: absolute;
  margin-top: 0;
  top: 2%;
  left: 5%;
  display: none;
}

.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color);
  overflow-y: scroll;
}
