.container {
  margin-top: 8%;
  text-align: center;
}

.subtitle,
.windows-theme-subtitle {
  color: var(--primary);
  font-family: 'Rock 3D', monospace;
  font-weight: 600;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.subtitle {
  font-size: 10vw;
}

.windows-theme-subtitle {
  font-size: 7vw;
}

.description {
  font-size: 1.5vw;
  z-index: 1;
  position: relative;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

.logo,
.windows-theme-logo {
  height: auto;
  opacity: var(--home-img-op);
  position: absolute;
}

.logo {
  width: 55%;
  top: 10%;
  left: 22%;
}

.windows-theme-logo {
  width: 45%;
  top: 27%;
  left: 27%;
}

@media screen and (max-width: 900px) {
  .subtitle {
    font-size: 15vw;
  }

  .description {
    font-size: 3vw;
  }

  .logo {
    width: 75%;
    left: 12%;
  }
}
