.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.title,
.home-title {
  font-size: 6rem;
  padding: 0% 1% 2%;
}

.title {
  width: 30%;
}

.home-title {
  width: 50%;
}

.description,
.home-description {
  padding: 1% 1%;
}

.description {
  width: 70%;
}

.home-description {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    position: relative;
  }

  .title,
  .description {
    width: 100%;
  }

  .home-title,
  .home-description {
    width: 100%;
    position: relative;
  }
}
