.container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.title {
  font-size: 6rem;
  font-family: 'Monofett';
  padding: 0% 1%;
}

.description,
.home-description {
  padding: 0% 1%;
}

.home-description {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: monospace;
}
