.start-bar {
  background-color: var(--windows-gray);
  width: 100%;
  height: 6.25%;
  bottom: 0;
  position: fixed;
  z-index: 2;
  padding: 0.5rem;
  box-shadow: 0 -2px #fffdfc, 0 -4px var(--windows-box-shadow-blue);
  display: flex;
  flex-direction: row;
}

.items {
  display: flex;
  flex-direction: row;
  margin-left: 0.5%;
}

.items:before {
  content: '';
  width: 2px;
  height: calc(100% - 1rem);
  position: absolute;
  background: var(--windows-white);
  box-shadow: 1px 1px 0 var(--windows-dark-gray);
  left: 8.5%;
}

@media screen and (max-width: 1500px), screen and (max-height: 800px) {
  .start-bar {
    height: 3rem;
  }

  .items {
    margin-left: 0.5%;
  }

  .items:before {
    left: 7.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .items {
    margin-left: 1%;
  }
}

@media screen and (max-width: 1000px) {
  .items {
    margin-left: 2%;
  }
}

@media screen and (max-width: 800px) {
  .items {
    margin-left: 3%;
  }
}
