.start-bar {
  background-color: var(--windows-gray);
  width: 100%;
  height: 7%;
  bottom: 0;
  position: fixed;
  z-index: 2;
  padding: 0.5rem;
  box-shadow: 0 -2px #fffdfc, 0 -4px var(--windows-box-shadow-blue);
  display: flex;
  flex-direction: row;
}

.items {
  display: flex;
  flex-direction: row;
}

.items:before {
  content: '';
  width: 2px;
  height: calc(100% - 1rem);
  position: absolute;
  background: var(--windows-white);
  box-shadow: 1px 1px 0 var(--windows-dark-gray);
  left: 9rem;
  top: 0.5rem;
}
