.chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5%;
}

.chip {
  color: var(--font-color-opp);
  background-color: var(--secondary);
  border: none;
  margin-right: 1%;
  margin-bottom: 1%;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1rem;
}
