.chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2% 0% 2% 0%;
}

.chip {
  background-color: var(--ticker-tape);
  border: none;
  margin: 1% 1% 0% 0%;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 0.8rem;
}
